body {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.line {
  display: flex;
}

.box {
  width: 25px;
  height: 25px;
  background-color: aquamarine;
  /* margin: 1px; */
}

.snake {
  background-color: darkred;
}

.boost {
  background-color: blueviolet;
}