body {
  height: 100vh;
  background-color: #3f2832;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.line {
  display: flex;
}

.box {
  width: 32px;
  height: 32px;
}

#boost-score {
  color: white;
}

.floor {
  background-image: url("../img/sprite-dungeon-crawler/tiles/floor/floor_2.png");
}
.wall {
  background-image: url("../img/sprite-dungeon-crawler/tiles/wall/used/wall_1.png");
}
.wall-left {
  background-image: url("../img/sprite-dungeon-crawler/tiles/wall/used/wall_left.png");
}
.wall-right {
  background-image: url("../img/sprite-dungeon-crawler/tiles/wall/used/wall_right.png");
}
.wall-top {
  background-image: url("../img/sprite-dungeon-crawler/tiles/wall/used/wall_bottom.png");
}
.wall-bottom {
  background-image: url("../img/sprite-dungeon-crawler/tiles/wall/used/wall_bottom.png"), url("../img/sprite-dungeon-crawler/tiles/floor/floor_2.png");
}
.corner-t-l {
  background-image: url("../img/sprite-dungeon-crawler/tiles/wall/used/corner.png");
}
.corner-t-r {
  background-image: url("../img/sprite-dungeon-crawler/tiles/wall/used/corner.png");
}
.corner-b-l {
  background-image: url("../img/sprite-dungeon-crawler/tiles/wall/used/corner.png");
}
.corner-b-r {
  background-image: url("../img/sprite-dungeon-crawler/tiles/wall/used/corner.png");
}

@keyframes sprite {
  from { background-position: 0px; }
  to { background-position: -192px; }
}

.snake {
  background: url("../img/sprite-dungeon-crawler/heroes/knight/knight-run32x32.png"), url("../img/sprite-dungeon-crawler/tiles/floor/floor_2.png");
  animation-name: sprite; 
  animation-duration: 1.5s;
  animation-timing-function: steps(6);
  animation-iteration-count: infinite;
}

.direction-left {
  transform: scaleX(-1);
}

.boost {
  background-image: url("../img/sprite-dungeon-crawler/props_itens/used/potion_red.png"), url("../img/sprite-dungeon-crawler/tiles/floor/floor_2.png");
}

.modal-background {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal-body {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.choice {
  width: 33%;
  height: 100%;
  background-color: #ea977b;
  margin: 6px;
}
.choice:hover {
  cursor: pointer;
  box-shadow: 0 0 40px 20px #edae99;
}