.container {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.line {
  display: flex;
}

.box {
  width: 32px;
  height: 32px;
  background-color: aquamarine;
}

.snake {
  background: url("../img/sprite-dungeon-crawler/heroes/knight/sprite_run32.png");
  background-color: aquamarine;
  animation-name: sprite; 
  animation-duration: 1.5s;
  animation-timing-function: steps(6);
  animation-iteration-count: infinite;
}

@keyframes sprite {
  from { background-position: 0px; }
  to { background-position: -192px; }
}

.boost {
  background-color: cornflowerblue;
}

.modal-background {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal-body {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.choice {
  width: 33%;
  height: 100%;
  background-color: #ea977b;
  margin: 6px;
}
.choice:hover {
  cursor: pointer;
  box-shadow: 0 0 40px 20px #edae99;
}